.header 
    nav.menu
        ul.menu__list
            li.menu__list 
                a.menu__link(href="#") Главная
            li.menu__list 
                a.menu__link(href="delivery.html") Доставка
            li.menu__list 
                a.menu__link(href="contacts.html") Контакты
    a.logo(href="#")
            img(src="img/logo.svg", alt="logo") 
    .header__box 
        a.header__phone(href="tel:+78126701555") 8 (812) 670-15-55
        a.header__basket(href="#")
            img(src="img/basket.svg", alt="Корзина")
        ul.social
            li.social__item 
            li.social__item 
            li.social__item 
