.header {
  display: flex;
  justify-content: space-between;

  margin-top: 70px;
}
.menu {
  display: flex;
  // align-items: center;
}
.menu__list {
  display: flex;
  font-size: 25px;
  line-height: 33px;
}
.menu__list + .menu__list {
  padding-left: 42px;
}
.menu__link--active {
  text-decoration-line: underline;
  color: #ca4f45;
}
.logo img {
  filter: drop-shadow(0px 0px 100px rgba(168, 41, 31, 0.6));
}
.header__box {
  display: flex;
  justify-content: space-between;
}
.header__phone {
  font-size: 30px;
  line-height: 40px;
  color: #ca4f45;
  margin-right: 43px;
  text-decoration-line: underline;
}
