<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Мясо и хлеб - Корзина
        link(rel="stylesheet" href="css/main.min.css")
        link(rel="stylesheet" href="fonts/rockwellnova/1/stylesheet.css")
        link(rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css")
    body
        .container
            .header 
                nav.menu
                    ul.menu__list
                        li.menu__list 
                            a.menu__link(href="#") Главная
                        li.menu__list 
                            a.menu__link(href="delivery.html") Доставка
                        li.menu__list 
                            a.menu__link(href="contacts.html") Контакты
                a.logo(href="#")
                        img(src="img/logo.svg", alt="logo", height="171") 
                .header__box 
                    a.header__phone(href="tel:+78126701555") 8 (812) 670-15-55
                    a.header__basket(href="#")
                        img(src="img/basket.svg", alt="Корзина")
                    ul.social
                        li.social__item 
                        li.social__item 
                        li.social__item 
    main.main
        .container
            .title
                h3 Корзина
                .subtitle Ваш заказ доставки
            .basket-content
                a.prev-page__link(href="delivery.html") Вернуться к покупкам
                form.basket-content__form
                    input.basket-content__input(type="text", placeholder="Имя")
                    input.basket-content__input(type="text", placeholder="Адрес доставки")
                    .basket-content__numbers
                        .basket-content__home
                            input.basket-content__input(type="text", placeholder="Дом")
                            input.basket-content__input(type="text", placeholder="Корпус")
                            input.basket-content__input(type="text", placeholder="кв/офис")
                        .basket-content__phone
                            input.basket-content__input(type="text", placeholder="Телефон")
                .title
                    h3 Ваш заказ
                .basket-products
                    .basket-products__item
                        .basket-products__img
                            img(src="img/products/product.jpg", alt="салат")
                        .basket-products__name Салат  с  курой  и огурцами
                        .cart__count 
                            button.cart-btn.cart-minus
                                img(src="img/minus.svg", alt="убрать")
                            span.count 1
                            button.cart-btn.cart-plus
                                img(src="img/plus.svg", alt="добавить")
                        .cart__price.cart__price--basket 
                            .new-price 119₽
                            .old-price 119₽
                    .basket-products__item
                        .basket-products__img
                            img(src="img/products/product.jpg", alt="салат")
                        //- img.basket-products__img(src="img/products/product.jpg", alt="салат")
                        .basket-products__name Салат  с  курой  и огурцами
                        .cart__count 
                            button.cart-btn.cart-minus
                                img(src="img/minus.svg", alt="убрать")
                            span.count 1
                            button.cart-btn.cart-plus
                                img(src="img/plus.svg", alt="добавить")
                        .cart__price.cart__price--basket 
                            .new-price 119₽
                            .old-price 119₽
                    .basket-products__item
                        .basket-products__img
                            img(src="img/products/product.jpg", alt="салат")
                        //- img.basket-products__img(src="img/products/product.jpg", alt="салат")
                        .basket-products__name Салат  с  курой  и огурцами
                        .cart__count 
                            button.cart-btn.cart-minus
                                img(src="img/minus.svg", alt="убрать")
                            span.count 1
                            button.cart-btn.cart-plus
                                img(src="img/plus.svg", alt="добавить")
                        .cart__price.cart__price--basket 
                            .new-price 119₽
                            .old-price 119₽
                    button.basket-products__btn