include section/header.pug
.container
    .title
        h3 Доставка
        .subtitle прямо  до двери

    .categories
        p.categories__title Категории:
        .btn-block 
            button.btn-block__item Донер
            button.btn-block__item Холодные закуски
            button.btn-block__item Горячие закуски
            button.btn-block__item Десерты
            button.btn-block__item супы
            button.btn-block__item Салаты
            button.btn-block__item Мангал
            button.btn-block__item-more еще
        .btn-block-more
            button.btn-block__item-more еще
            button.btn-block__item Салаты
            button.btn-block__item Салаты
            button.btn-block__item Салаты
            button.btn-block__item Салаты
            button.btn-block__item Салаты
    .delivery__content 
        .categories__items(data-variant="Донер")
            .cart.cart--delivery 
                img.cart__img(src="img/products/product.jpg", alt="салат")
                .cart__desc 
                    .cart__price 
                        .new-price 119₽
                        .old-price 119₽
                    .cart__name Салат  с  курой  и огурцами
                    .cart__add 
                        button.cart__btn Добавить
                        .cart__count 
                            button.cart-btn.cart-minus
                                img(src="img/minus.svg", alt="убрать")
                            span.count 1
                            button.cart-btn.cart-plus
                                img(src="img/plus.svg", alt="добавить")
            .cart.cart--delivery 
                img.cart__img(src="img/products/product.jpg", alt="салат")
                .cart__desc 
                    .cart__price 
                        .new-price 119₽
                        .old-price 119₽
                    .cart__name Салат  с  курой  и огурцами
                    .cart__add 
                        button.cart__btn Добавить
                        .cart__count 
                            button.cart-btn.cart-minus
                                img(src="img/minus.svg", alt="убрать")
                            span.count 1
                            button.cart-btn.cart-plus
                                img(src="img/plus.svg", alt="добавить")
            .cart.cart--delivery 
                img.cart__img(src="img/products/product.jpg", alt="салат")
                .cart__desc 
                    .cart__price 
                        .new-price 119₽
                        .old-price 119₽
                    .cart__name Салат  с  курой  и огурцами
                    .cart__add 
                        button.cart__btn Добавить
                        .cart__count 
                            button.cart-btn.cart-minus
                                img(src="img/minus.svg", alt="убрать")
                            span.count 1
                            button.cart-btn.cart-plus
                                img(src="img/plus.svg", alt="добавить")
            .cart.cart--delivery 
                img.cart__img(src="img/products/product.jpg", alt="салат")
                .cart__desc 
                    .cart__price 
                        .new-price 119₽
                        .old-price 119₽
                    .cart__name Салат  с  курой  и огурцами
                    .cart__add 
                        button.cart__btn Добавить
                        .cart__count 
                            button.cart-btn.cart-minus
                                img(src="img/minus.svg", alt="убрать")
                            span.count 1
                            button.cart-btn.cart-plus
                                img(src="img/plus.svg", alt="добавить")
            .cart.cart--delivery 
                img.cart__img(src="img/products/product.jpg", alt="салат")
                .cart__desc 
                    .cart__price 
                        .new-price 119₽
                        .old-price 119₽
                    .cart__name Салат  с  курой  и огурцами
                    .cart__add 
                        button.cart__btn Добавить
                        .cart__count 
                            button.cart-btn.cart-minus
                                img(src="img/minus.svg", alt="убрать")
                            span.count 1
                            button.cart-btn.cart-plus
                                img(src="img/plus.svg", alt="добавить")
            .cart.cart--delivery 
                img.cart__img(src="img/products/product.jpg", alt="салат")
                .cart__desc 
                    .cart__price 
                        .new-price 119₽
                        .old-price 119₽
                    .cart__name Салат  с  курой  и огурцами
                    .cart__add 
                        button.cart__btn Добавить
                        .cart__count 
                            button.cart-btn.cart-minus
                                img(src="img/minus.svg", alt="убрать")
                            span.count 1
                            button.cart-btn.cart-plus
                                img(src="img/plus.svg", alt="добавить")
            .cart.cart--delivery 
                img.cart__img(src="img/products/product.jpg", alt="салат")
                .cart__desc 
                    .cart__price 
                        .new-price 119₽
                        .old-price 119₽
                    .cart__name Салат  с  курой  и огурцами
                    .cart__add 
                        button.cart__btn Добавить
                        .cart__count 
                            button.cart-btn.cart-minus
                                img(src="img/minus.svg", alt="убрать")
                            span.count 1
                            button.cart-btn.cart-plus
                                img(src="img/plus.svg", alt="добавить")
            .cart.cart--delivery 
                img.cart__img(src="img/products/product.jpg", alt="салат")
                .cart__desc 
                    .cart__price 
                        .new-price 119₽
                        .old-price 119₽
                    .cart__name Салат  с  курой  и огурцами
                    .cart__add 
                        button.cart__btn Добавить
                        .cart__count 
                            button.cart-btn.cart-minus
                                img(src="img/minus.svg", alt="убрать")
                            span.count 1
                            button.cart-btn.cart-plus
                                img(src="img/plus.svg", alt="добавить")
            .cart.cart--delivery 
                img.cart__img(src="img/products/product.jpg", alt="салат")
                .cart__desc 
                    .cart__price 
                        .new-price 119₽
                        .old-price 119₽
                    .cart__name Салат  с  курой  и огурцами
                    .cart__add 
                        button.cart__btn Добавить
                        .cart__count 
                            button.cart-btn.cart-minus
                                img(src="img/minus.svg", alt="убрать")
                            span.count 1
                            button.cart-btn.cart-plus
                                img(src="img/plus.svg", alt="добавить")
            .cart.cart--delivery 
                img.cart__img(src="img/products/product.jpg", alt="салат")
                .cart__desc 
                    .cart__price 
                        .new-price 119₽
                        .old-price 119₽
                    .cart__name Салат  с  курой  и огурцами
                    .cart__add 
                        button.cart__btn Добавить
                        .cart__count 
                            button.cart-btn.cart-minus
                                img(src="img/minus.svg", alt="убрать")
                            span.count 1
                            button.cart-btn.cart-plus
                                img(src="img/plus.svg", alt="добавить")
            .cart.cart--delivery 
                img.cart__img(src="img/products/product.jpg", alt="салат")
                .cart__desc 
                    .cart__price 
                        .new-price 119₽
                        .old-price 119₽
                    .cart__name Салат  с  курой  и огурцами
                    .cart__add 
                        button.cart__btn Добавить
                        .cart__count 
                            button.cart-btn.cart-minus
                                img(src="img/minus.svg", alt="убрать")
                            span.count 1
                            button.cart-btn.cart-plus
                                img(src="img/plus.svg", alt="добавить")
            .cart.cart--delivery 
                img.cart__img(src="img/products/product.jpg", alt="салат")
                .cart__desc 
                    .cart__price 
                        .new-price 119₽
                        .old-price 119₽
                    .cart__name Салат  с  курой  и огурцами
                    .cart__add 
                        button.cart__btn Добавить
                        .cart__count 
                            button.cart-btn.cart-minus
                                img(src="img/minus.svg", alt="убрать")
                            span.count 1
                            button.cart-btn.cart-plus
                                img(src="img/plus.svg", alt="добавить")
script(src="js/main.js")