<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Мясо и хлеб - Доставка
        link(rel="stylesheet" href="css/main.min.css")
        link(rel="stylesheet" href="fonts/rockwellnova/1/stylesheet.css")
        link(rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css")
    body.bg-delivery
        .container
            .header 
                nav.menu
                    ul.menu__list
                        li.menu__list 
                            a.menu__link(href="#") Главная
                        li.menu__list 
                            a.menu__link.menu__link--active(href="delivery.html") Доставка
                        li.menu__list 
                            a.menu__link(href="contacts.html") Контакты
                a.logo(href="#")
                        img(src="img/logo.svg", alt="logo", height="171") 
                .header__box 
                    a.header__phone(href="tel:+78126701555") 8 (812) 670-15-55
                    a.header__basket(href="#")
                        img(src="img/basket.svg", alt="Корзина")
                    ul.social
                        li.social__item 
                        li.social__item 
                        li.social__item 
    main.main
        .container
            .title
                h3 Доставка
                .subtitle прямо  до двери

            .categories
                p.categories__title Категории:
                .btn-block 
                    button.btn-block__item Донер
                    button.btn-block__item Холодные закуски
                    button.btn-block__item Горячие закуски
                    button.btn-block__item Десерты
                    button.btn-block__item супы
                    button.btn-block__item Салаты
                    button.btn-block__item Мангал
                    button.btn-block__item-more еще
                    .btn-block-more
                        button.btn-block__item-more еще
                        button.btn-block__item Салаты
                        button.btn-block__item Салаты
                        button.btn-block__item Салаты
                        button.btn-block__item Салаты
                        button.btn-block__item Салаты
            .delivery__content 
                .categories__items(data-variant="Донер")
                    .cart.cart--delivery 
                        img.cart__img(src="img/products/product.jpg", alt="салат")
                        .cart__desc 
                            .cart__price 
                                .new-price 119₽
                                .old-price 119₽
                            .cart__name Салат  с  курой  и огурцами
                            .cart__add 
                                button.cart__btn Добавить
                                .cart__count 
                                    button.cart-btn.cart-minus
                                        img(src="img/minus.svg", alt="убрать")
                                    span.count 1
                                    button.cart-btn.cart-plus
                                        img(src="img/plus.svg", alt="добавить")
                    .cart.cart--delivery 
                        img.cart__img(src="img/products/product.jpg", alt="салат")
                        .cart__desc 
                            .cart__price 
                                .new-price 119₽
                                .old-price 119₽
                            .cart__name Салат  с  курой  и огурцами
                            .cart__add 
                                button.cart__btn Добавить
                                .cart__count 
                                    button.cart-btn.cart-minus
                                        img(src="img/minus.svg", alt="убрать")
                                    span.count 1
                                    button.cart-btn.cart-plus
                                        img(src="img/plus.svg", alt="добавить")
                    .cart.cart--delivery 
                        img.cart__img(src="img/products/product.jpg", alt="салат")
                        .cart__desc 
                            .cart__price 
                                .new-price 119₽
                                .old-price 119₽
                            .cart__name Салат  с  курой  и огурцами
                            .cart__add 
                                button.cart__btn Добавить
                                .cart__count 
                                    button.cart-btn.cart-minus
                                        img(src="img/minus.svg", alt="убрать")
                                    span.count 1
                                    button.cart-btn.cart-plus
                                        img(src="img/plus.svg", alt="добавить")
                    .cart.cart--delivery 
                        img.cart__img(src="img/products/product.jpg", alt="салат")
                        .cart__desc 
                            .cart__price 
                                .new-price 119₽
                                .old-price 119₽
                            .cart__name Салат  с  курой  и огурцами
                            .cart__add 
                                button.cart__btn Добавить
                                .cart__count 
                                    button.cart-btn.cart-minus
                                        img(src="img/minus.svg", alt="убрать")
                                    span.count 1
                                    button.cart-btn.cart-plus
                                        img(src="img/plus.svg", alt="добавить")
                    .cart.cart--delivery 
                        img.cart__img(src="img/products/product.jpg", alt="салат")
                        .cart__desc 
                            .cart__price 
                                .new-price 119₽
                                .old-price 119₽
                            .cart__name Салат  с  курой  и огурцами
                            .cart__add 
                                button.cart__btn Добавить
                                .cart__count 
                                    button.cart-btn.cart-minus
                                        img(src="img/minus.svg", alt="убрать")
                                    span.count 1
                                    button.cart-btn.cart-plus
                                        img(src="img/plus.svg", alt="добавить")
                    .cart.cart--delivery 
                        img.cart__img(src="img/products/product.jpg", alt="салат")
                        .cart__desc 
                            .cart__price 
                                .new-price 119₽
                                .old-price 119₽
                            .cart__name Салат  с  курой  и огурцами
                            .cart__add 
                                button.cart__btn Добавить
                                .cart__count 
                                    button.cart-btn.cart-minus
                                        img(src="img/minus.svg", alt="убрать")
                                    span.count 1
                                    button.cart-btn.cart-plus
                                        img(src="img/plus.svg", alt="добавить")
                    .cart.cart--delivery 
                        img.cart__img(src="img/products/product.jpg", alt="салат")
                        .cart__desc 
                            .cart__price 
                                .new-price 119₽
                                .old-price 119₽
                            .cart__name Салат  с  курой  и огурцами
                            .cart__add 
                                button.cart__btn Добавить
                                .cart__count 
                                    button.cart-btn.cart-minus
                                        img(src="img/minus.svg", alt="убрать")
                                    span.count 1
                                    button.cart-btn.cart-plus
                                        img(src="img/plus.svg", alt="добавить")
                    .cart.cart--delivery 
                        img.cart__img(src="img/products/product.jpg", alt="салат")
                        .cart__desc 
                            .cart__price 
                                .new-price 119₽
                                .old-price 119₽
                            .cart__name Салат  с  курой  и огурцами
                            .cart__add 
                                button.cart__btn Добавить
                                .cart__count 
                                    button.cart-btn.cart-minus
                                        img(src="img/minus.svg", alt="убрать")
                                    span.count 1
                                    button.cart-btn.cart-plus
                                        img(src="img/plus.svg", alt="добавить")
                    .cart.cart--delivery 
                        img.cart__img(src="img/products/product.jpg", alt="салат")
                        .cart__desc 
                            .cart__price 
                                .new-price 119₽
                                .old-price 119₽
                            .cart__name Салат  с  курой  и огурцами
                            .cart__add 
                                button.cart__btn Добавить
                                .cart__count 
                                    button.cart-btn.cart-minus
                                        img(src="img/minus.svg", alt="убрать")
                                    span.count 1
                                    button.cart-btn.cart-plus
                                        img(src="img/plus.svg", alt="добавить")
                    .cart.cart--delivery 
                        img.cart__img(src="img/products/product.jpg", alt="салат")
                        .cart__desc 
                            .cart__price 
                                .new-price 119₽
                                .old-price 119₽
                            .cart__name Салат  с  курой  и огурцами
                            .cart__add 
                                button.cart__btn Добавить
                                .cart__count 
                                    button.cart-btn.cart-minus
                                        img(src="img/minus.svg", alt="убрать")
                                    span.count 1
                                    button.cart-btn.cart-plus
                                        img(src="img/plus.svg", alt="добавить")
                    .cart.cart--delivery 
                        img.cart__img(src="img/products/product.jpg", alt="салат")
                        .cart__desc 
                            .cart__price 
                                .new-price 119₽
                                .old-price 119₽
                            .cart__name Салат  с  курой  и огурцами
                            .cart__add 
                                button.cart__btn Добавить
                                .cart__count 
                                    button.cart-btn.cart-minus
                                        img(src="img/minus.svg", alt="убрать")
                                    span.count 1
                                    button.cart-btn.cart-plus
                                        img(src="img/plus.svg", alt="добавить")
                    .cart.cart--delivery 
                        img.cart__img(src="img/products/product.jpg", alt="салат")
                        .cart__desc 
                            .cart__price 
                                .new-price 119₽
                                .old-price 119₽
                            .cart__name Салат  с  курой  и огурцами
                            .cart__add 
                                button.cart__btn Добавить
                                .cart__count 
                                    button.cart-btn.cart-minus
                                        img(src="img/minus.svg", alt="убрать")
                                    span.count 1
                                    button.cart-btn.cart-plus
                                        img(src="img/plus.svg", alt="добавить")
    .container
        footer.footer
        .download 
            a.download__apple(href="") 
                img(src="img/apple.svg", alt="")
            a.download__android(href="") 
                img(src="img/google.svg", alt="")
        .footer__bottom
            a.footer__doc(href="#") Юридические документы
            ul.social-list
                li.social-list__item 
                    a(href="#")
                        img(src="img/social/instagram.svg", alt="инстаграм")
                li.social-list__item 
                    a(href="#")
                        img(src="img/social/vk.svg", alt="ВК")
                li.social-list__item 
                    a(href="#")
                        img(src="img/social/email.svg", alt="Почта")
            .phone.phone--footer
                p.phone__text.phone__text--footer Единый номер:
                a.phone__number.phone__number--footer(href="tel:+78126701555") 8 (812) 670-15-55
        .copyright 2022
script(src="js/main.js")