
include section/header.pug
main.main
    .container
        section.clubs
            .title
                h3 Мясные клубы
                .subtitle Там где вкусно
            .clubs__slider.swiper
                .swiper-wrapper 
                    .swiper-slide 
                        a(href="#") 
                            .cart 
                                img.cart__img(src="img/xxl.jpg", alt="")
                                .cart__desc 
                                    .club__name Мясной клуб
                                    .club__adress ул.Ворошилова  3
                    .swiper-slide
                        a(href="#") 
                            .cart 
                                img.cart__img(src="img/xxl.jpg", alt="")
                                .cart__desc 
                                    .club__name Мясной клуб
                                    .club__adress ул.Ворошилова  3
                    .swiper-slide
                        a(href="#") 
                            .cart 
                                img.cart__img(src="img/xxl.jpg", alt="")
                                .cart__desc 
                                    .club__name Мясной клуб
                                    .club__adress ул.Ворошилова  3
                    .swiper-slide
                        a(href="#") 
                            .cart 
                                img.cart__img(src="img/xxl.jpg", alt="")
                                .cart__desc 
                                    .club__name Мясной клуб
                                    .club__adress ул.Ворошилова  3
                    .swiper-slide
                        a(href="#") 
                            .cart 
                                img.cart__img(src="img/xxl.jpg", alt="")
                                .cart__desc 
                                    .club__name Мясной клуб
                                    .club__adress ул.Ворошилова  3
                    .swiper-slide
                        a(href="#") 
                            .cart 
                                img.cart__img(src="img/xxl.jpg", alt="")
                                .cart__desc 
                                    .club__name Мясной клуб
                                    .club__adress ул.Ворошилова  3
                    .swiper-slide
                        a(href="#") 
                            .cart 
                                img.cart__img(src="img/xxl.jpg", alt="")
                                .cart__desc 
                                    .club__name Мясной клуб
                                    .club__adress ул.Ворошилова  3
        section.discounts
            .title
                h3 Мясные акции
                .subtitle лучшие предложения
            .discounts__content
                .discounts__slider.swiper
                    .swiper-wrapper 
                        .swiper-slide 
                            .discounts-cart
                                .discounts-cart__images
                                    img.discounts-cart__img(src="img/discount.jpg", alt="Акция")
                                .discounts-cart__desc 
                                    .discounts-club__title Каждый день
                                    p.discounts-club__time  после 20:00
                                    p.discounts-club__text на всю сладкую выпечку <br> скидка 50%
                                a.discounts-club__more(href="#") подробнее
                        .swiper-slide 
                            .discounts-cart
                                .discounts-cart__images
                                    img.discounts-cart__img(src="img/discount.jpg", alt="Акция")
                                .discounts-cart__desc 
                                    .discounts-club__title Каждый день
                                    p.discounts-club__time  после 20:00
                                    p.discounts-club__text на всю сладкую выпечку <br> скидка 50%
                                a.discounts-club__more(href="#") подробнее
                        .swiper-slide 
                            .discounts-cart
                                .discounts-cart__images
                                    img.discounts-cart__img(src="img/discount.jpg", alt="Акция")
                                .discounts-cart__desc 
                                    .discounts-club__title Каждый день
                                    p.discounts-club__time  после 20:00
                                    p.discounts-club__text на всю сладкую выпечку <br> скидка 50%
                                a.discounts-club__more(href="#") подробнее
                a.discounts__kink(href="#")
                    img(src="img/arrow-link.svg", alt="")
        .delivery
            .delivery__title Доставка
            a.delivery__btn(href="delivery.html") заказать
        .contacts 
            .title
                h3 Мы всегда рядом
                .subtitle всегда на связи
            .contacts__map 
            .phone
                p.phone__text Единый номер:
                a.phone__number(href="tel:+78126701555") 8 (812) 670-15-55
.container
    include section/footer.pug
        
    script(src="https://unpkg.com/swiper@8/swiper-bundle.min.js")
    script(src="js/main.js")
