<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        
        title Мясо и хлеб - ресторан
        link(rel="stylesheet" href="css/main.min.css")
        link(rel="stylesheet" href="fonts/rockwellnova/1/stylesheet.css")
        link(rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css")
    body.bg-default 
        .container
            .header 
                nav.menu
                    ul.menu__list
                        li.menu__list 
                            a.menu__link(href="index.html") Главная
                        li.menu__list 
                            a.menu__link(href="delivery.html") Доставка
                        li.menu__list 
                            a.menu__link(href="contacts.html") Контакты
                a.logo(href="index.html")
                        img(src="img/logo.svg", alt="logo") 
                .header__box 
                    a.header__phone(href="tel:+78126701555") 8 (812) 670-15-55
                    a.header__basket(href="basket.html")
                        img(src="img/basket.svg", alt="Корзина")
                        p.basket__num 1
                    ul.social-list.social-list--top
                        li.social-list__item 
                            a(href="#")
                                img(src="img/social/instagram.svg", alt="инстаграм")
                        li.social-list__item 
                            a(href="#")
                                img(src="img/social/vk.svg", alt="ВК")
                        li.social-list__item 
                            a(href="#")
                                img(src="img/social/email.svg", alt="Почта")

        main.main.bg-default
            .container
                .title.title--restaraunt
                    h3 Мясной клуб на  Науки 32
                    .subtitle Там где вкусно
                    .subtitle.subtitle--mobile Там где вкус
                .description
                    svg(viewBox="0 0 4097 1403" fill="none" xmlns="http://www.w3.org/2000/svg")
                        defs
                            mask#mask
                                path(fill-rule="evenodd" clip-rule="evenodd"
                                    d="M2744.2 1.23605C2743.52 2.05705 2743.11 3.76605 2743.29 5.03405C2743.7 7.91605 2748.79 8.30805 2750.5 5.58905C2752.8 1.94805 2746.96 -2.08695 2744.2 1.23605ZM2868.69 1.75605C2867.31 3.28505 2867.18 4.09405 2868.07 5.75605C2869.5 8.41405 2873.69 8.50305 2875.08 5.90505C2877.57 1.26705 2872.25 -2.17995 2868.69 1.75605ZM2822.37 1.50105C2820.16 2.39105 2821.02 3.90205 2824.59 5.39005C2832.15 8.55005 2844.49 6.05605 2839.68 2.33905C2837.79 0.882048 2825.39 0.282048 2822.37 1.50105ZM2759.65 8.58905C2758.72 18.535 2758.43 19.368 2755.39 20.855C2748.24 24.355 2716.3 22.71 2635.62 14.689C2601.75 11.321 2590.53 11.547 2582.27 15.763C2573.74 20.115 2529.22 24.278 2453.12 27.841C2384.03 31.076 2318.69 37.382 2296.84 42.923C2274.87 48.497 2227.54 52.017 2150.12 53.837C2091.89 55.206 2069.23 57.018 2060.29 61.02C2050.73 65.302 2021.08 68.1851 1964.62 70.3231C1906.82 72.5121 1883.63 74.011 1870.76 76.387C1824.38 84.953 1713.26 62.601 1707.73 43.593C1704.65 32.977 1702.6 32.567 1696.17 41.274C1688.87 51.146 1686.45 51.621 1678.5 44.74C1660.01 28.736 1595.09 29.338 1584.75 45.61C1578.51 55.429 1572.14 56.414 1534.62 53.362C1524.72 52.556 1504.47 51.437 1489.62 50.874C1449.86 49.369 1445.12 48.075 1455.12 41.458C1463.75 35.747 1459.88 35.205 1433.64 38.443C1421.53 39.938 1411.02 41.624 1410.29 42.19C1408.21 43.796 1403.63 53.61 1401.24 61.555C1400.05 65.523 1398.02 70.004 1396.72 71.512L1394.36 74.2541L1390.34 72.437C1385.39 70.206 1382.39 70.9961 1373.62 76.8361C1367.54 80.8851 1364.77 81.6991 1363.58 79.7821C1361.42 76.2891 1368.01 68.587 1380.85 59.583C1389.73 53.362 1396.39 46.48 1395.91 44.02C1394.35 35.886 1310.96 36.617 1287.01 44.975C1268.86 51.307 1247.24 38.705 1247.14 21.738C1247.09 13.815 1243.18 8.88505 1239.41 12.006C1235.13 15.563 1234.02 24.682 1236.6 35.339C1239.71 48.23 1238.3 50.634 1229.12 48.057C1219.46 45.345 1216.56 45.715 1216.94 49.608C1217.41 54.234 1212.86 56.024 1200.68 56.011C1185.59 55.995 1183.26 54.103 1188 45.693C1196.42 30.762 1196.13 9.87505 1187.49 9.03505C1184.2 8.71405 1182.77 10.005 1177.79 17.815C1170.57 29.123 1138.12 34.384 1138.12 24.245C1138.12 14.112 1113.15 3.93505 1101.66 9.38705C1095.13 12.486 1088.94 23.038 1092.48 25.024C1094.48 26.142 1093.62 28.154 1088.36 34.664C1080.13 44.844 1069.01 49.089 1057.37 46.498C1048.84 44.599 1041.72 45.624 1035.28 49.679C1025.49 55.839 1001.62 60.355 963.118 63.333C895.807 68.539 867.645 74.449 859.823 85.011C855.261 91.17 860.124 92.2471 876.709 88.7491C894.474 85.0031 908.873 89.5211 896.546 94.9741C876.356 103.905 795.035 111.254 799.687 103.727C800.939 101.702 805.879 100.655 818.439 99.7531C832.882 98.7171 836.736 97.532 833.548 95.108C829.625 92.124 795.535 96.0561 762.118 103.346C703.797 116.07 593.665 136.348 536.618 144.867C499.957 150.341 483.195 154.488 467.969 161.852C438.033 176.328 418.973 168.83 403.115 136.339C382.728 94.5671 346.845 79.6191 329.096 105.505C303.239 143.217 269.786 162.759 252.904 150.013C243.912 143.223 241.118 143.709 241.118 152.062C241.118 160.557 236.475 166.116 228.38 167.311C219.61 168.606 213.625 174.049 210.339 183.715C206.781 194.181 198.184 201.908 185.192 206.319C173.418 210.316 168.779 214.469 171.147 218.894C173.001 222.358 169.747 224.825 162.011 225.82C152.469 227.048 151.872 227.426 152.608 231.782C153.607 237.693 145.484 241.415 113.367 249.765C84.5469 257.258 84.0009 258.129 107.091 259.768C126.247 261.128 126.674 261.841 111.358 266.894C94.4369 272.475 95.1839 273.701 116.269 274.951C153.911 277.181 161.132 277.776 163.063 278.809C171.144 283.134 158.955 287.449 71.2089 311.328C-10.9211 333.678 -7.3301 336.598 85.9369 323.305C113.631 319.358 112.118 319.497 112.118 320.904C112.118 324.514 87.7459 332.331 71.2859 334C62.6079 334.879 59.2119 335.656 56.7859 337.317C53.6089 339.491 53.5509 339.748 54.8029 346.098C55.4649 349.45 53.6909 351.839 50.5429 351.839C44.6569 351.839 39.5259 357.281 42.8369 360.013C45.6329 362.32 68.2389 361.527 85.6179 358.512C129.167 350.956 141.118 351.042 141.118 358.91C141.118 365.333 130.108 368.371 101.618 369.809C67.5029 371.532 49.5919 375.7 51.7819 381.405C53.3419 385.472 64.1939 388.258 106.868 395.546C112.402 396.491 110.67 397.2 91.8539 401.698C-8.0481 425.575 -9.7091 426.21 36.6179 422.803C58.5669 421.19 75.9069 423.062 78.7159 427.348C82.9349 433.788 73.9369 437.973 40.1179 445.298C18.5519 449.97 10.4749 452.404 5.7149 455.665C-7.4171 464.663 2.8309 469.417 28.7849 466.367C48.4929 464.051 58.1179 465.145 58.1179 469.7C58.1179 473.896 50.5909 477.756 42.2909 477.815C37.8179 477.847 32.6639 482.786 33.6629 486.082C35.3279 491.57 41.4739 494.824 50.2339 494.854C58.4429 494.883 58.3109 496.409 49.7649 500.304C27.9509 510.244 24.7799 522.285 41.9479 529.987C49.9779 533.59 49.3129 534.271 36.4589 535.608C12.9659 538.052 1.6169 550.482 20.7159 552.851C29.3429 553.921 30.9189 555.383 29.1669 560.692C26.4069 569.053 30.9729 570.154 69.6179 570.445C107.452 570.729 105.351 570.64 104.918 571.939C104.717 572.543 100.517 575.131 95.5849 577.689C85.9949 582.662 84.5079 584.826 89.9189 585.932C99.0159 587.793 95.0149 590.461 67.0339 601.198C23.7059 617.822 20.9069 626.944 58.5589 628.818C81.6239 629.967 82.6289 630.739 69.3679 637.125C58.2699 642.47 58.5639 643.162 72.3439 644.134C92.2549 645.537 92.9019 646.195 81.6179 653.561C53.4769 671.93 65.3689 681.03 108.246 673.937C130.817 670.203 132.244 671.405 120.298 684.087C106.66 698.565 106.555 698.2 126.854 706.844C133.913 709.85 132.993 710.481 120.383 711.282C49.2979 715.799 39.4179 748.851 105.725 760.322C117.17 762.301 126.69 764.078 126.881 764.269C127.073 764.46 116.58 770.388 103.565 777.442C83.5779 788.273 80.2669 790.38 82.2589 790.998C83.5569 791.4 95.6849 793.119 109.212 794.817C195.158 805.612 232.477 825.738 172.336 828.861C148.894 830.078 139.988 832.02 134.368 837.138C129.404 841.66 133.187 845.124 144.544 846.459C156.517 847.866 147.513 851.771 107.868 862.366C83.8719 868.779 107.698 876.339 161.618 879.421C221.39 882.838 259.659 939.571 247.229 1006.34C239.534 1047.67 240.528 1053.82 255.732 1058.88C259.597 1060.16 263.609 1062.38 265.781 1064.43L269.396 1067.84L268.588 1074.09C264.866 1102.87 280.475 1116.51 300.231 1101.75C306.086 1097.37 307.612 1098.05 304.678 1103.72C301.815 1109.26 302.902 1113.95 308.197 1118.91C312.577 1123.01 313.613 1128.72 311.712 1138.3C309.248 1150.71 310.288 1155.84 315.27 1155.84C320.268 1155.84 328.061 1165.61 333.094 1178.19C336.386 1186.42 343.074 1195.2 347.237 1196.75C356.292 1200.12 356.348 1200.29 355.554 1222.88L354.903 1241.43L357.545 1244.57C359.571 1246.98 361.524 1247.98 365.903 1248.87C379.596 1251.65 386.118 1257.48 386.118 1266.93C386.118 1285.22 421.04 1326.56 441.514 1332.5C450.517 1335.11 457.293 1355.47 452.613 1365.85C446.097 1380.3 464.849 1383.13 482.477 1370.36C493.427 1362.43 497.11 1366.85 499.51 1390.84L500.661 1402.34L516.89 1402.61C525.815 1402.77 533.118 1402.51 533.118 1402.06C533.118 1401.6 531.549 1394.39 529.631 1386.04C513.389 1315.29 513.027 1268.08 528.587 1249.83C535.882 1241.28 539.118 1234.77 539.118 1228.64C539.118 1222.44 538.272 1222.59 534.699 1229.43C529.531 1239.32 524.327 1238.63 518.629 1227.31C511.169 1212.48 517.038 1186.16 528.441 1183.29C537.849 1180.93 548.199 1198.93 541.118 1205.34C531.233 1214.28 572.95 1267.16 587.709 1264.39C604.915 1261.16 605.443 1226.17 588.408 1218.11C577.748 1213.06 575.876 1203.78 582.568 1189.17C588.417 1176.39 596.743 1180.33 602.91 1198.78C608.976 1216.93 616.622 1217.95 633.503 1202.88C648.598 1189.4 655.414 1187.84 699.2 1187.84C740.073 1187.84 744.069 1186.79 742.676 1176.46C742.295 1173.64 741.732 1169.43 741.423 1167.11C739.965 1156.11 753.374 1150.89 755.661 1161.56C757.296 1169.19 760.316 1171.5 769.843 1172.42C782.968 1173.69 796.933 1167.51 801.546 1158.39C806.083 1149.43 810.309 1149.04 823.67 1156.39C836.792 1163.6 837.944 1167.51 830.118 1178.24C818.966 1193.54 819.504 1193.57 930.118 1184.31C1085.16 1171.33 1322.86 1148.24 1434.12 1135.36C1492.34 1128.61 1552.07 1121.89 1590.12 1117.8C1605.24 1116.18 1625.27 1113.97 1634.62 1112.88C1666.41 1109.21 1728.24 1103.7 1826.62 1095.79C1913.15 1088.83 1993.84 1081.92 2043.12 1077.25C2093.8 1072.44 2109.78 1071.1 2131.12 1069.9C2250.73 1063.17 2575.51 1058.94 2750.12 1061.85C2834.29 1063.24 2861.36 1064.51 2920.62 1069.83C2936.47 1071.25 2969.17 1072.5 3037.62 1074.31C3089.87 1075.69 3148.14 1077.28 3167.12 1077.83C3186.09 1078.38 3230.19 1079.51 3265.12 1080.34C3300.04 1081.17 3355.62 1082.5 3388.62 1083.3C3488.41 1085.71 3514.36 1085.97 3544.12 1084.87C3579.14 1083.57 3581.9 1083.12 3574.85 1079.84C3571.18 1078.13 3570.11 1075.29 3572.82 1074.43C3588.31 1069.52 3633.49 1068.88 3646.31 1073.41C3653.29 1075.87 3656.16 1079.84 3650.96 1079.84C3644.91 1079.84 3638.99 1085.86 3641.12 1089.85C3643.04 1093.43 3648.38 1093.95 3661.54 1091.85C3668.18 1090.79 3678.34 1089.42 3684.12 1088.81C3700.66 1087.06 3700.15 1086.4 3676.23 1078.69C3667.4 1075.84 3663.61 1074.2 3664.81 1073.77C3668.92 1072.27 3694.75 1071.5 3747.62 1071.31C3813.79 1071.07 3820.69 1070.3 3819.36 1063.31C3818.26 1057.56 3827.04 1052.36 3851.62 1044.23C3862.61 1040.59 3866.21 1039.07 3863.12 1039.37C3832.84 1042.29 3806.07 1041.93 3802.69 1038.56C3799.56 1035.43 3763.64 1034.03 3655.62 1032.85C3607.77 1032.32 3554.67 1031.43 3537.62 1030.87C3360.5 1025.01 3200.82 1010.69 3210.06 1001.5C3211.82 999.748 3239.04 1000.29 3271.12 1002.72C3319.31 1006.38 3353.72 1008.09 3438.62 1011.05C3565.46 1015.48 3773.37 1011.39 3834.12 1003.26C3861.9 999.546 3868.27 996.66 3863.12 990.112C3858.71 984.51 3861.28 980.711 3871.01 978.442C3878.03 976.803 3879.2 976.128 3877.19 974.884C3875.42 973.791 3862.3 971.839 3856.72 971.839C3849.61 971.839 3843.01 970.653 3843.41 969.448C3845.04 964.476 3929.32 955.934 4007.12 952.857C4032.5 951.853 4050.22 949.927 4054.34 947.722L4056.5 946.565L4054.33 944.808C4050.05 941.344 4033.4 939.55 3984.62 937.299C3931.89 934.865 3918.04 931.713 3923.49 923.389C3930.02 913.432 3949.92 910.374 4007.12 910.541C4031.04 910.611 4049.94 910.49 4049.12 910.272C4048.29 910.054 4036.37 908.505 4022.62 906.83C3913.67 893.556 3839.95 879.945 3832.53 871.735C3828.53 867.313 3816.21 862.755 3801.74 860.346C3790.13 858.413 3805.8 856.261 3841.84 854.838C3887.21 853.046 3896.62 850.884 3884.57 845.026C3874.77 840.269 3888.12 839.51 3923.62 842.806C4027.58 852.459 4064.12 853.508 4064.12 846.843C4064.12 841.227 4057.2 839.027 4035.62 837.78C3987.65 835.009 3955.62 829.239 3955.62 823.37C3955.62 817.581 3977.53 816.03 4027.68 818.271C4054.06 819.45 4065.9 817.586 4074.12 810.963C4078.7 807.266 4075.93 806.567 4053.39 805.734C4008.06 804.058 4002.9 795.905 4047.12 795.829C4074.42 795.782 4084.54 793.794 4087.6 787.872C4090.36 782.534 4089.77 754.495 4086.85 752.586C4082.22 749.548 4069.97 745.911 4053.54 742.692L4036.62 739.375L4049.62 738.618C4076.05 737.078 4080.96 735.576 4075.02 730.839C4066.44 723.993 4066.59 724.179 4068.03 722.443C4068.77 721.55 4071.91 720.099 4075 719.218C4078.09 718.338 4081.03 717.228 4081.54 716.751C4085.24 713.302 4047.61 706.853 3964.87 696.751C3945.75 694.418 3930.35 692.274 3930.64 691.986C3931.37 691.253 3950.8 687.362 3968.62 684.378C3990.96 680.636 4010.51 678.878 4041.12 677.856C4095.6 676.036 4092 664.863 4036.12 662.343C4014.55 661.371 4013.74 660.865 4022.11 653.644C4034.68 642.799 4048.59 637.504 4064.79 637.399C4076.38 637.323 4079.96 639.39 4081.58 647.089C4082.77 652.737 4093.12 649.123 4093.12 643.059C4093.12 625.632 4020.53 607.039 3963.42 609.839C3951.95 610.401 3949.17 609.405 3953.17 606.176C3963.3 598.007 3963.93 596.346 3958.14 593.052C3949.56 588.169 3963.77 587.826 4026.62 591.397C4110.32 596.153 4104.32 589.455 4008.13 570.76C3967.26 562.817 3959.81 561.089 3971.62 562.298C4085.35 573.93 4111.55 565.626 4031.12 543.444C4024.24 541.548 4010.97 537.893 4001.62 535.322C3970.5 526.767 3955.26 519.859 3967.43 519.832C3981.81 519.8 4010.59 506.525 4021.45 494.916C4028.67 487.201 4027.58 485.73 4013.45 484.073C4004.07 482.972 3978.93 477.542 3935.21 467.173C3880.38 454.17 3873.77 446.374 3914.62 442.885C3938.04 440.884 3954.41 441.821 3956.34 445.273C3961.12 453.809 4002.45 458.179 4000.64 449.958C3999.89 446.524 4001.95 444.022 4006.24 443.165C4012.4 441.933 4006.95 438.642 3987.62 431.915C3964.38 423.829 3959.4 418.839 3974.55 418.839C3995.86 418.839 3968.74 409.144 3918.62 398.843C3876.27 390.139 3844.07 380.143 3830.92 371.618C3817.1 362.664 3792.46 356.074 3747.62 349.345C3704.67 342.899 3673.77 332.31 3679.48 325.994C3683.53 321.514 3699.55 320.986 3755.73 323.482C3771.64 324.189 3774.81 323.114 3764.85 320.383C3761.42 319.443 3751.42 315.825 3742.62 312.342C3716.89 302.159 3670.18 293.56 3574.51 281.394C3551.1 278.417 3537.45 273.089 3526.35 262.587C3517.97 254.658 3513.46 252.381 3503.37 250.997C3495.68 249.943 3491.45 247.894 3486.68 242.912C3481.94 237.953 3474.52 235.786 3458.62 234.721C3418.02 232 3420.28 224.492 3468.37 202.263C3487.98 193.196 3487.46 194.004 3476.37 189.848C3450.01 179.973 3444.19 175.21 3445.64 164.676C3446.43 158.967 3445.17 156.927 3438.87 153.715C3422.35 145.282 3302.76 127.617 3226.62 122.363C3169.41 118.416 3159.94 117.673 3149.13 116.282C3119.38 112.456 3109.43 109.634 3108.45 104.751C3107.63 100.673 3105.76 101.118 3102.06 106.266C3096.01 114.689 3088.99 113.887 3077.48 103.461C3066.88 93.8641 3080.42 91.996 3161.62 91.856C3208.21 91.775 3239.04 89.7941 3229.8 87.4751C3211.2 82.8061 3038.74 70.2551 2925.62 65.3381C2842.48 61.7241 2825.35 54.759 2877.7 45.853C2936.98 35.768 2927.97 28.281 2853.62 25.839C2798.34 24.023 2786.52 21.364 2769.66 6.93505C2761.51 -0.036952 2760.44 0.141048 2759.65 8.58905ZM1065.16 18.291C1062.5 21.492 1066.4 26.409 1069.87 24.227C1072.09 22.828 1072.63 20.164 1071.08 18.291C1069.53 16.43 1066.7 16.43 1065.16 18.291ZM1505.15 18.779C1503.48 21.9 1505.51 25.045 1508.93 24.649C1511.28 24.379 1511.62 23.892 1511.62 20.839C1511.62 16.531 1507.12 15.099 1505.15 18.779ZM1025.56 26.28C1024.01 27.432 1023.84 28.085 1024.72 29.53C1027.25 33.677 1035.17 33.462 1036.81 29.203C1038.23 25.502 1029.62 23.265 1025.56 26.28ZM949.485 35.326C949.149 36.199 949.674 37.796 950.652 38.876C954.02 42.598 962.788 40.581 961.967 36.273C961.464 33.633 950.455 32.798 949.485 35.326ZM908.597 43.231C906.323 44.893 907.803 47.389 912.011 48.988C916.732 50.783 922.713 46.466 920.013 43.212C918.53 41.426 911.049 41.438 908.597 43.231ZM932.158 43.291C929.501 46.492 933.403 51.409 936.868 49.227C939.09 47.828 939.633 45.164 938.078 43.291C936.534 41.43 933.702 41.43 932.158 43.291ZM1170.15 45.891C1171.74 48.866 1171.26 53.4 1169.15 55.305C1165.37 58.732 1163.44 55.876 1164.1 47.839C1164.51 42.91 1167.96 41.8 1170.15 45.891ZM876.368 50.87C871.852 52.685 875.529 57.839 881.341 57.839C884.066 57.839 888.118 54.835 888.118 52.814C888.118 50.396 880.629 49.157 876.368 50.87ZM840.157 60.767C838.884 63.144 839.722 65.5791 842.07 66.3241C845.95 67.5551 848.909 64.004 846.938 60.481C845.674 58.224 841.422 58.403 840.157 60.767ZM1655.03 60.472C1661.72 61.809 1654.7 65.7261 1645.62 65.7261C1637.25 65.7261 1629.25 61.71 1635.31 60.552C1639.05 59.838 1651.61 59.787 1655.03 60.472ZM3248.86 84.7511C3243.81 85.7931 3243.47 86.3661 3246.62 88.4341C3252.67 92.3951 3268.23 90.4791 3263.98 86.2971C3262.26 84.5981 3253.79 83.7331 3248.86 84.7511ZM3276.37 84.483C3275.68 84.77 3275.12 86.038 3275.12 87.3C3275.12 91.749 3280.16 93.3121 3282.51 89.5891C3284.56 86.3181 3280.35 82.815 3276.37 84.483ZM3470.32 160.039C3467.08 163.273 3470.82 170.548 3477.34 173.702C3482.52 176.214 3485.4 176.405 3487.11 174.352C3491.8 168.694 3475.53 154.824 3470.32 160.039ZM3575.24 209.661C3571.68 212.127 3577.84 214.435 3599.62 218.784C3630.65 224.982 3642.31 224.863 3632.37 218.449C3623.27 212.581 3580.52 206.005 3575.24 209.661ZM3675.32 227.039C3671.77 230.591 3675.89 236.089 3679.96 233.235C3682.52 231.447 3682.7 229.568 3680.55 227.41C3678.67 225.531 3676.95 225.409 3675.32 227.039ZM3712.37 228.501C3708.13 230.212 3714.94 232.839 3723.62 232.839C3732.58 232.839 3739.12 230.207 3734.54 228.446C3732.66 227.727 3714.17 227.773 3712.37 228.501ZM3551.92 251.578C3549.95 252.029 3548.8 254.853 3549.67 257.121C3551.16 261.004 3557.12 259.579 3557.12 255.339C3557.12 252.722 3554.67 250.949 3551.92 251.578ZM3675.87 276.919C3673.52 278.285 3673.63 282.508 3676.05 283.8C3680.24 286.044 3683.77 281.319 3680.55 277.767C3678.56 275.571 3678.27 275.518 3675.87 276.919ZM148.547 311.41C150.406 313.27 150.422 313.403 149.083 315.905C146.675 320.404 139.833 316.955 141.95 312.309C143.236 309.487 146.217 309.081 148.547 311.41ZM3826.37 327.501C3824.45 328.275 3824.88 331.644 3827.05 332.804C3831.35 335.102 3838.12 333.332 3838.12 329.911C3838.12 327.181 3830.85 325.691 3826.37 327.501ZM3903.81 345.496C3900.63 346.397 3902.61 348.299 3908.19 349.701C3915.97 351.655 3929.61 349.008 3926.72 346.106C3925.85 345.232 3906.56 344.719 3903.81 345.496ZM4051.37 494.87C4046.85 496.685 4050.53 501.839 4056.34 501.839C4059.54 501.839 4063.33 498.553 4062.53 496.474C4061.65 494.17 4055.36 493.267 4051.37 494.87ZM72.3499 546.692C74.3129 548.688 69.8309 551.839 65.0269 551.839C57.1989 551.839 49.4679 546.761 55.3679 545.495C59.6389 544.579 71.0629 545.384 72.3499 546.692ZM3936.37 555.481C3941.29 556.294 3941.11 557.492 3935.87 558.913C3928.17 560.998 3900.12 559.341 3900.12 556.802C3900.12 555.09 3927.88 554.078 3936.37 555.481ZM3636.52 659.339C3636.51 667.487 3636.02 674.384 3635.37 675.839C3634.49 677.797 3634.24 674.222 3634.24 659.339C3634.24 644.201 3634.48 640.847 3635.4 642.839C3636.1 644.363 3636.54 650.804 3636.52 659.339ZM92.7219 696.994C90.2209 700.564 93.4049 704.826 97.0969 702.85C99.3329 701.653 99.7849 697.906 97.9179 696.039C96.1379 694.259 94.4159 694.575 92.7219 696.994ZM4075.62 847.202C4071.34 850.456 4078.32 855.239 4083.95 852.908C4089.76 850.5 4088.71 846.873 4081.99 846.152C4079.01 845.832 4076.98 846.167 4075.62 847.202ZM3904.04 923.33C3906.31 925.605 3902.84 928.839 3898.12 928.839C3894.18 928.839 3890.35 925.886 3891.62 923.832C3893.55 920.714 3901.12 920.408 3904.04 923.33ZM3365.51 949.089C3367.81 952.767 3361.95 956.753 3359.17 953.4C3358.41 952.488 3358.16 950.82 3358.54 949.289C3359.3 946.249 3363.66 946.125 3365.51 949.089ZM4079.7 947.707C4075.37 948.645 4075.52 950.383 4080.1 952.214C4086.86 954.919 4096.12 953.541 4096.12 949.829C4096.12 947.626 4086.07 946.327 4079.7 947.707ZM3903.37 975.946C3898.56 980.92 3908.89 987.839 3921.12 987.839C3928.17 987.839 3930.22 986.168 3927.77 982.428C3924.73 977.797 3906.31 972.904 3903.37 975.946ZM3248.55 981.41C3251.43 984.291 3249.72 987.839 3245.45 987.839C3242.25 987.839 3240.8 984.737 3242.72 981.994C3244.51 979.441 3246.39 979.253 3248.55 981.41ZM3830.07 981.284C3832.1 983.731 3830.96 987.299 3828.03 987.64C3824.41 988.06 3822.48 985.536 3823.95 982.309C3825.2 979.566 3828.23 979.059 3830.07 981.284ZM2769.62 1029.89C2835.67 1033.39 2830.45 1035.69 2754.62 1036.5C2694.89 1037.14 2673.12 1036.14 2673.12 1032.77C2673.12 1028.51 2718.12 1027.17 2769.62 1029.89ZM2541.18 1030.87C2543.74 1032.24 2543.7 1036.46 2541.12 1037.84C2536.66 1040.22 2532.5 1033.46 2536.87 1030.92C2539.06 1029.64 2538.88 1029.64 2541.18 1030.87ZM2597.55 1030.81C2600.71 1032.01 2600.85 1034.22 2597.9 1036.28C2593.83 1039.13 2586.12 1037.14 2586.12 1033.25C2586.12 1030.44 2592.81 1029.01 2597.55 1030.81ZM2890.18 1030.87C2892.74 1032.24 2892.7 1036.46 2890.12 1037.84C2885.73 1040.19 2882.13 1034.97 2885.69 1031.41C2887.55 1029.55 2887.68 1029.54 2890.18 1030.87ZM2573.68 1032.28C2578.1 1035.56 2569.16 1039 2561.55 1036.96C2555.13 1035.23 2552.96 1033.24 2556.12 1031.97C2560.01 1030.4 2571.42 1030.6 2573.68 1032.28ZM2638.87 1031.47C2642.63 1032.48 2641.68 1035.59 2637.19 1036.94C2631.65 1038.6 2621.12 1035.88 2621.12 1032.79C2621.12 1031.13 2634.01 1030.17 2638.87 1031.47ZM2865.29 1032.61C2868.51 1035.83 2859.62 1038.86 2852.55 1036.96C2841.69 1034.03 2844.16 1030.67 2856.84 1031.12C2860.91 1031.26 2864.59 1031.91 2865.29 1032.61ZM3876.27 1039.72C3871.72 1042.6 3879.43 1047.59 3884.89 1045.3C3888.38 1043.83 3889.31 1040.51 3886.54 1039.45C3884.23 1038.56 3877.83 1038.73 3876.27 1039.72ZM3249.69 1046.4C3254.54 1047.73 3259.13 1051.16 3257.82 1052.47C3254.09 1056.2 3213.06 1055.47 3212.32 1051.66C3211.13 1045.46 3234.38 1042.18 3249.69 1046.4ZM3099.11 1048.33C3099.83 1049.2 3100.07 1050.88 3099.69 1052.39C3098.8 1055.94 3092.8 1055.65 3092.29 1052.03C3091.67 1047.63 3096.4 1045.06 3099.11 1048.33ZM3172.12 1048.83C3174.84 1050.56 3171.95 1053.3 3167.04 1053.66C3158.83 1054.25 3150.62 1051.21 3154.12 1048.87C3156.03 1047.6 3170.13 1047.56 3172.12 1048.83ZM1902.94 1058.64C1903.34 1061.4 1901.54 1063.84 1899.12 1063.84C1896.48 1063.84 1894.8 1061.24 1895.54 1058.29C1896.43 1054.74 1902.43 1055.03 1902.94 1058.64ZM1927.62 1059.23C1927.62 1064.44 1921.27 1065.47 1920.28 1060.42C1919.63 1057.12 1920.95 1055.7 1924.36 1056.03C1927.21 1056.3 1927.62 1056.7 1927.62 1059.23ZM3498.51 1066.09C3500.02 1068.49 3498.18 1071.25 3494.8 1071.65C3492.7 1071.9 3492.06 1071.46 3491.54 1069.39C3490.32 1064.5 3495.87 1061.87 3498.51 1066.09ZM3546.92 1065.4C3555.73 1068.08 3539.64 1074.84 3524.45 1074.84C3510.76 1074.84 3505.95 1068.35 3517.12 1064.95C3520.79 1063.84 3542.87 1064.17 3546.92 1065.4ZM1870.54 1065.71C1879.14 1067.57 1870.62 1071.33 1859.41 1070.61C1852.05 1070.14 1846.56 1067.65 1850.19 1066.43C1854.72 1064.91 1865.16 1064.54 1870.54 1065.71ZM1822.54 1066.45C1827.41 1068.32 1820.44 1070.84 1810.41 1070.84C1799.75 1070.84 1792.47 1068.82 1794.78 1066.51C1795.62 1065.67 1820.38 1065.62 1822.54 1066.45ZM1759.8 1068.34C1769.25 1071.15 1772.69 1076.21 1768.01 1080.43C1761.59 1086.23 1721.12 1079.63 1721.12 1072.79C1721.12 1067.55 1747.09 1064.56 1759.8 1068.34ZM1668.73 1073.52C1675.31 1076.04 1656.17 1086.64 1649.35 1084.26C1643.74 1082.3 1645.8 1074.93 1652.54 1072.86C1655.52 1071.95 1665.71 1072.36 1668.73 1073.52ZM1699.55 1072.81C1702.53 1073.94 1702.79 1075.44 1700.46 1078.01C1697.37 1081.42 1689.12 1079.34 1689.12 1075.15C1689.12 1072.49 1695.14 1071.14 1699.55 1072.81ZM297.662 1077.29C299.909 1082.67 296.154 1089.77 292.618 1086.84C291.097 1085.58 290.544 1078.5 291.725 1075.42C292.824 1072.56 296.118 1073.6 297.662 1077.29ZM1635.68 1082.06C1641.01 1087.4 1588.37 1094.62 1573.8 1090.55C1567.51 1088.8 1572.55 1084.51 1583.62 1082.19C1590.07 1080.83 1634.34 1080.73 1635.68 1082.06ZM3610.37 1081.5C3608.45 1082.27 3608.88 1085.64 3611.05 1086.8C3615.35 1089.1 3622.12 1087.33 3622.12 1083.91C3622.12 1081.18 3614.85 1079.69 3610.37 1081.5ZM3763.7 1081.65C3757.22 1083.18 3763.48 1087.84 3772.03 1087.84C3776.46 1087.84 3781.3 1084.68 3779.57 1082.92C3778.26 1081.58 3767.59 1080.73 3763.7 1081.65ZM3791.2 1082.24C3788.51 1085.48 3792.37 1090.43 3795.87 1088.22C3798.76 1086.4 3798.18 1081.4 3795.03 1081.04C3793.61 1080.87 3791.89 1081.41 3791.2 1082.24ZM3719.62 1082.49C3718.52 1082.73 3716.49 1083.16 3715.12 1083.46L3712.62 1084.01L3715.37 1085.46C3721.62 1088.74 3744.99 1087.94 3743.83 1084.48C3743.15 1082.42 3726.44 1081.05 3719.62 1082.49ZM1227.62 1125.77C1227.62 1130.97 1218.8 1131.56 1215.72 1126.56C1214.12 1123.98 1216.54 1122.76 1222.62 1123.08C1227.17 1123.32 1227.62 1123.55 1227.62 1125.77ZM546.184 1164.87C548.346 1166.03 548.755 1169.8 546.918 1171.64C545.288 1173.27 543.568 1173.15 541.689 1171.27C538.102 1167.68 541.745 1162.5 546.184 1164.87ZM630.671 1182.9C633.981 1186.55 628.834 1191.7 625.177 1188.39C622.711 1186.16 622.578 1184.52 624.689 1182.41C626.801 1180.3 628.44 1180.43 630.671 1182.9ZM781.718 1182.25C769.392 1186.86 780.938 1196.56 793.672 1192.29C803.787 1188.9 808.382 1183.98 802.868 1182.44C797.438 1180.92 785.552 1180.82 781.718 1182.25ZM1081.78 1182.66C1078.27 1186.54 1083.47 1191.49 1087.17 1187.79C1089.06 1185.9 1089.12 1185.48 1087.82 1183.52C1085.91 1180.63 1083.88 1180.34 1081.78 1182.66ZM732.689 1199.41C730.83 1201.27 730.814 1201.4 732.153 1203.91C733.993 1207.34 740.118 1205.47 740.118 1201.48C740.118 1200.43 736.911 1197.84 735.618 1197.84C734.872 1197.84 733.554 1198.55 732.689 1199.41ZM957.204 1199.24C956.522 1200.06 956.112 1201.77 956.291 1203.03C956.7 1205.92 961.789 1206.31 963.504 1203.59C965.801 1199.95 959.962 1195.91 957.204 1199.24ZM581.627 1233.85C582.557 1235.36 581.26 1238.57 579.439 1239.27C574.952 1240.99 571.814 1236.14 575.215 1232.74C577.177 1230.78 580.033 1231.28 581.627 1233.85ZM674.2 1367.24C671.424 1370.58 676.372 1375.53 679.717 1372.76C680.543 1372.07 681.084 1370.35 680.919 1368.93C680.564 1365.87 676.237 1364.79 674.2 1367.24ZM541.689 1383.41C538.659 1386.44 540.89 1390.29 545.313 1389.67C547.962 1389.29 548.983 1385.59 547.072 1383.28C545.515 1381.41 543.648 1381.45 541.689 1383.41Z" fill="#ffffff")
                        image(mask="url(#mask)" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/restaurant.png" width="4097" height="1403")
                    .phone.phone--restaraunt
                        p.phone__text.phone__text--restaraunt Единый номер:
                        a.phone__number.phone__number--restaraunt(href="tel:+78126701555") 8 (812) 670-15-55
                    .download.download--restauran 
                        a.download__apple(href="") 
                            img(src="img/apple.svg", alt="")
                        a.download__android(href="") 
                            img(src="img/google.svg", alt="")
                p.slogan Если аромат свежей выпечки так и норовит возбудить <br>
                        | в вас сильный голод, то данное заведение сможет <br>
                        | доставить вам радость. Помимо вкусной еды вас ждет горячий кофе или чай.
                .information
                    ul.restaurant-menu
                        li.restaurant-menu__item
                            a.restaurant-menu__link(href="usercontent/menu.pdf")  меню клуба
                        li.restaurant-menu__item
                            a.restaurant-menu__link(href="usercontent/banket-menu.pdf") банкетное меню клуба
                        li.restaurant-menu__item
                            button.restaurant-menu__btn.active интерьер
                        li.restaurant-menu__item.tour
                            button.restaurant-menu__btn 3D тур
                    ul.restaurant-menu.restaurant-menu--mobile
                        li.restaurant-menu__item
                            button.restaurant-menu__btn интерьер
                        li.restaurant-menu__item
                            a.restaurant-menu__link(href="usercontent/menu.pdf")  меню клуба
                        li.restaurant-menu__item
                            a.restaurant-menu__link(href="usercontent/banket-menu.pdf") банкет
                    .tabs-content
                        .restaurant__photo
                            img(src="img/restaurant.jpg", alt="фото ресторана")
                        .tabs-content__item.active
                            .restaurant__slider.swiper
                                .swiper-wrapper 
                                    .swiper-slide 
                                        img(src="img/usercontent/photo-1.jpg", alt="Фото 1")
                                    .swiper-slide
                                        img(src="img/usercontent/photo-2.jpg", alt="Фото 2")
                                    .swiper-slide
                                        img(src="img/usercontent/photo-3.jpg", alt="Фото 3")
                                    .swiper-slide
                                        img(src="img/usercontent/photo-3.jpg", alt="Фото 3")
                        .tabs-content__item 
                            img(src="img/usercontent/3d-tour.jpg", alt="").tabs-content__img
                    p.slogan.slogan--mobile Если аромат свежей выпечки так и норовит возбудить
                        | в вас сильный голод, то данное заведение сможет
                        | доставить вам радость. Помимо вкусной еды вас ждет горячий кофе или чай.
                .title.title--mobile
                        h3 Мясные клубы
                        .subtitle Там где вкусно
                        .subtitle.subtitle--mobile Там где вкус
                .clubs__slider.clubs__slider--restaurant.swiper
                    .swiper-wrapper 
                        .swiper-slide 
                            a(href="restaurant.html") 
                                .cart 
                                    img.cart__img(src="img/xxl.jpg", alt="")
                                    .cart__desc 
                                        .club__name Мясной клуб
                                        .club__adress ул.Ворошилова  3
                        .swiper-slide
                            a(href="restaurant.html") 
                                .cart 
                                    img.cart__img(src="img/xxl.jpg", alt="")
                                    .cart__desc 
                                        .club__name Мясной клуб
                                        .club__adress ул.Ворошилова  3
                        .swiper-slide
                            a(href="restaurant.html") 
                                .cart 
                                    img.cart__img(src="img/xxl.jpg", alt="")
                                    .cart__desc 
                                        .club__name Мясной клуб
                                        .club__adress ул.Ворошилова  3
                        .swiper-slide
                            a(href="restaurant.html") 
                                .cart 
                                    img.cart__img(src="img/xxl.jpg", alt="")
                                    .cart__desc 
                                        .club__name Мясной клуб
                                        .club__adress ул.Ворошилова  3
                        .swiper-slide
                            a(href="restaurant.html") 
                                .cart 
                                    img.cart__img(src="img/xxl.jpg", alt="")
                                    .cart__desc 
                                        .club__name Мясной клуб
                                        .club__adress ул.Ворошилова  3
                        .swiper-slide
                            a(href="restaurant.html") 
                                .cart 
                                    img.cart__img(src="img/xxl.jpg", alt="")
                                    .cart__desc 
                                        .club__name Мясной клуб
                                        .club__adress ул.Ворошилова  3
                        .swiper-slide
                            a(href="restaurant.html") 
                                .cart 
                                    img.cart__img(src="img/xxl.jpg", alt="")
                                    .cart__desc 
                                        .club__name Мясной клуб
                                        .club__adress ул.Ворошилова  3
                .title
                    h3 Мы всегда рядом
                    .subtitle всегда на связи
                    .subtitle.subtitle--mobile всегда на связи
                .map
                footer.footer
                    .addresses
                        .addresses__item
                            ul.addresses-list
                                li.addresses-list__item.addresses-list__item--orange
                                    a(href="#") Ул. ворошилова 3
                                li.addresses-list__item.addresses-list__item--orange
                                    a(href="#") пр. коммуны 63
                                li.addresses-list__item.addresses-list__item--orange
                                    a(href="#") Кудрово, ул.Пражская 16
                        .addresses__item
                            ul.addresses-list
                                li.addresses-list__item.addresses-list__item--blue
                                    a(href="#") Выборгское шоссе 15
                                li.addresses-list__item.addresses-list__item--blue
                                    a(href="#") Учебный переулок 3а
                                li.addresses-list__item.addresses-list__item--blue
                                    a(href="#") Типанова 27/39
                                li.addresses-list__item.addresses-list__item--blue
                                    a(href="#") Суздальский 7
                                li.addresses-list__item.addresses-list__item--blue
                                    a(href="#") Светлановский 48 к4
                        .addresses__item
                            ul.addresses-list
                                li.addresses-list__item.addresses-list__item--green
                                    a(href="#") 9-я линия В.О. д 16
                                li.addresses-list__item.addresses-list__item--red
                                    a(href="#") Пр. Просвещения 74\2
                                li.addresses-list__item.addresses-list__item--red
                                    a(href="#") Пр.Науки 23
                    .footer__bottom
                        a.footer__doc(href="#") Юридические документы
                        ul.social-list
                            li.social-list__item 
                                a(href="#")
                                    img(src="img/social/instagram.svg", alt="инстаграм")
                            li.social-list__item 
                                a(href="#")
                                    img(src="img/social/vk.svg", alt="ВК")
                            li.social-list__item 
                                a(href="#")
                                    img(src="img/social/email.svg", alt="Почта")
                        .phone.phone--footer
                            p.phone__text.phone__text--footer Единый номер:
                            a.phone__number.phone__number--footer(href="tel:+78126701555") 8 (812) 670-15-55
                    .copyright 2022
                .mobile-nav 
                    a.mobile-nav__item(href="index.html")
                        .mobile-nav__img 
                            img(src="img/mobileMenu/home.svg", alt="home")
                        .mobile-nav__text  главная
                    a.mobile-nav__item(href="delivery.html")
                        .mobile-nav__img 
                            img(src="img/mobileMenu/delivery.svg", alt="delivery")
                        .mobile-nav__text доставка
                    .mobile-nav__item(data-geo="")
                        .mobile-nav__img 
                            img(src="img/mobileMenu/geo.svg", alt="geo")
                        .mobile-nav__text заведения
                    .mobile-nav__item(data-contact="")
                        .mobile-nav__img 
                            img(src="img/mobileMenu/contacts.svg", alt="contacts")
                        .mobile-nav__text контакты
                    .mobile-nav__item(data-basket="")
                        .mobile-nav__img 
                            img(src="img/mobileMenu/basket.svg", alt="basket")
                        .mobile-nav__text корзина
            .modal(data-modal-contact) 
                button.delivery-popup__close(data-closeMobile)
                    span
                .addresses
                    .addresses__item
                        ul.addresses-list
                            li.addresses-list__item.addresses-list__item--orange Ул. ворошилова 3
                            li.addresses-list__item.addresses-list__item--orange пр. коммуны 63
                            li.addresses-list__item.addresses-list__item--orange Кудрово, ул.Пражская 16
                    .addresses__item
                        ul.addresses-list
                            li.addresses-list__item.addresses-list__item--blue Выборгское шоссе 15
                            li.addresses-list__item.addresses-list__item--blue Учебный переулок 3а
                            li.addresses-list__item.addresses-list__item--blue Типанова 27/39
                            li.addresses-list__item.addresses-list__item--blue Суздальский 7
                            li.addresses-list__item.addresses-list__item--blue Светлановский 48 к4
                    .addresses__item
                        ul.addresses-list
                            li.addresses-list__item.addresses-list__item--green 9-я линия В.О. д 16
                            li.addresses-list__item.addresses-list__item--red Пр. Просвещения 74\2
                            li.addresses-list__item.addresses-list__item--red Пр.Науки 23

            .modal(data-modal-restaraunt) 
                button.delivery-popup__close(data-closeMobile)
                    span
                .modal__slider.swiper
                    .swiper-wrapper 
                        .swiper-slide 
                            img(src="img/usercontent/photo-1.jpg", alt="Фото 1")
                        .swiper-slide
                            img(src="img/usercontent/photo-2.jpg", alt="Фото 2")
                        .swiper-slide
                            img(src="img/usercontent/photo-3.jpg", alt="Фото 3")
                        .swiper-slide
                            img(src="img/usercontent/photo-3.jpg", alt="Фото 3")
                    .swiper-button-next
                    .swiper-button-prev
                .modal__description Краткое описание интерьера заведения для детального понимания посетителем антуража и эмоции на предстоящем ужине или обеде.

            .modal(data-modal-basket) 
                button.delivery-popup__close(data-closeMobile)
                    span
                .products
                    .products__item
                        .products__img
                            img(src="img/products/product.jpg", alt="салат")
                        .products__content
                            .products__name Салат  с  курой  и огурцами
                            .products__bottom
                                .cart__price 
                                    .new-price 119₽
                                    .old-price 119₽
                                .cart__count(data-counter="") 
                                    button.cart-btn.cart-minus
                                        img(src="img/minus.svg", alt="убрать")
                                    span.count 1
                                    button.cart-btn.cart-plus
                                        img(src="img/plus.svg", alt="добавить")
                        button.products__delete(data-delete)
                            span
                    .products__item
                        .products__img
                            img(src="img/products/product.jpg", alt="салат")
                        .products__content
                            .products__name Салат  с  курой  и огурцами
                            .products__bottom
                                .cart__price 
                                    .new-price 119₽
                                    .old-price 119₽
                                .cart__count(data-counter="") 
                                    button.cart-btn.cart-minus
                                        img(src="img/minus.svg", alt="убрать")
                                    span.count 1
                                    button.cart-btn.cart-plus
                                        img(src="img/plus.svg", alt="добавить")
                        button.products__delete(data-delete)
                            span
                    .products__item
                        .products__img
                            img(src="img/products/product.jpg", alt="салат")
                        .products__content
                            .products__name Салат  с  курой  и огурцами
                            .products__bottom
                                .cart__price 
                                    .new-price 119₽
                                    .old-price 119₽
                                .cart__count(data-counter="") 
                                    button.cart-btn.cart-minus
                                        img(src="img/minus.svg", alt="убрать")
                                    span.count 1
                                    button.cart-btn.cart-plus
                                        img(src="img/plus.svg", alt="добавить")
                        button.products__delete(data-delete)
                            span
                    .products__item
                        .products__img
                            img(src="img/products/product.jpg", alt="салат")
                        .products__content
                            .products__name Салат  с  курой  и огурцами
                            .products__bottom
                                .cart__price 
                                    .new-price 119₽
                                    .old-price 119₽
                                .cart__count(data-counter="") 
                                    button.cart-btn.cart-minus
                                        img(src="img/minus.svg", alt="убрать")
                                    span.count 1
                                    button.cart-btn.cart-plus
                                        img(src="img/plus.svg", alt="добавить")
                        button.products__delete(data-delete)
                            span
                    .products__item
                        .products__img
                            img(src="img/products/product.jpg", alt="салат")
                        .products__content
                            .products__name Салат  с  курой  и огурцами
                            .products__bottom
                                .cart__price 
                                    .new-price 119₽
                                    .old-price 119₽
                                .cart__count(data-counter="") 
                                    button.cart-btn.cart-minus
                                        img(src="img/minus.svg", alt="убрать")
                                    span.count 1
                                    button.cart-btn.cart-plus
                                        img(src="img/plus.svg", alt="добавить")
                        button.products__delete(data-delete)
                            span
                button.basket-products__btn.basket-products__btn--modal(data-order-btn) Оформить
            .modal(data-modal-order) 
                button.delivery-popup__close(data-closeMobile)
                    span
                .modal__header Оформление заказа
                form.modal-form
                    label.modal-form__label Кому
                    input.modal-form__input(type="text", placeholder='имя')
                    input.modal-form__input(type="text", placeholder='Телефон +7( )')
                    label.modal-form__label Куда
                    input.modal-form__input(type="text", placeholder='Адрес доставки')
                    .modal-form__from
                        input.modal-form__input(type="text", placeholder='Дом')
                        input.modal-form__input(type="text", placeholder='Корпус')
                        input.modal-form__input(type="text", placeholder='Кв/офис')
                    .modal-form__time
                        label.check
                            input.check__input(type="checkbox")
                            span.check__box
                            span.check__title  Как можно быстрее
                        label.check
                            input.check__input(type="checkbox")
                            span.check__box
                            span.check__title  К определенному времени
                    input.modal-form__input.modal-form__input--smole(type="number" placeholder='Кол-во приборов') 
                    input.modal-form__input(type="text" placeholder='Комментарий к заказу')
                    .modal-form__links
                        a.modal-form__link(href="#") Зоны доставки
                        a.modal-form__link(href="#") Условия доставки
                    label.check
                        input.check__input(type="checkbox")
                        span.check__box
                        span.check__title  Я даю свое согласие на обработку персональных данных
                    input.modal-form__button(type="submit", value="Оформить")


script(src="https://unpkg.com/swiper@8/swiper-bundle.min.js")
script(src="js/main.js")