<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Мясо и хлеб - Акция
        link(rel="stylesheet" href="css/main.min.css")
        link(rel="stylesheet" href="fonts/rockwellnova/1/stylesheet.css")
        link(rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css")
    body.bg-default 
        .container
            .header 
                nav.menu
                    ul.menu__list
                        li.menu__list 
                            a.menu__link.menu__link--active(href="/") Главная
                        li.menu__list 
                            a.menu__link(href="delivery.html") Доставка
                        li.menu__list 
                            a.menu__link(href="contacts.html") Контакты
                a.logo(href="#")
                        img(src="img/logo.svg", alt="logo", height="171") 
                .header__box 
                    a.header__phone(href="tel:+78126701555") 8 (812) 670-15-55
                    a.header__basket(href="#")
                        img(src="img/basket.svg", alt="Корзина")
                        p.basket__num 1
                    ul.social-list.social-list--top
                        li.social-list__item 
                            a(href="#")
                                img(src="img/social/instagram.svg", alt="инстаграм")
                        li.social-list__item 
                            a(href="#")
                                img(src="img/social/vk.svg", alt="ВК")
                        li.social-list__item 
                            a(href="#")
                                img(src="img/social/email.svg", alt="Почта")
        main.main
            .container 
                .title
                    h3 Акции мясного клуба
                    .subtitle вкусно и выгодно
                .sale__img 
                    img(src="img/sale-photo.jpg", alt="")
                .sale__description
                    .sale__header Скидка 50% каждый день
                    .sale__text 
                        //- prettier-ignore
                        |Мы рады предложить вам выгодные условия каждый день
                        |на всю продукцию выпечки в наших заведениях в половину цены
                        |Каждый день с 20:00 до закрытия любую выпечку вы приобретаете
                        |с 50%-ой скидкой.
                section.discounts
                    .title
                        h3 Мясные акции
                        .subtitle лучшие предложения
                    .discounts__content
                        .discounts__slider.swiper
                            .swiper-wrapper 
                                .swiper-slide 
                                    a.discounts-cart(href="sale.html") 
                                        .discounts-cart__images
                                            img.discounts-cart__img(src="img/discount.jpg", alt="Акция")
                                        .discounts-cart__desc 
                                            .discounts-club__title Каждый день
                                            p.discounts-club__time  после 20:00
                                            p.discounts-club__text на всю сладкую выпечку <br> скидка 50%
                                        a.discounts-club__more(href="#") подробнее
                                .swiper-slide 
                                    a.discounts-cart(href="sale.html")
                                        .discounts-cart__images
                                            img.discounts-cart__img(src="img/discount.jpg", alt="Акция")
                                        .discounts-cart__desc 
                                            .discounts-club__title Каждый день
                                            p.discounts-club__time  после 20:00
                                            p.discounts-club__text на всю сладкую выпечку <br> скидка 50%
                                        a.discounts-club__more(href="#") подробнее
                                .swiper-slide 
                                    a.discounts-cart(href="sale.html")
                                        .discounts-cart__images
                                            img.discounts-cart__img(src="img/discount.jpg", alt="Акция")
                                        .discounts-cart__desc 
                                            .discounts-club__title Каждый день
                                            p.discounts-club__time  после 20:00
                                            p.discounts-club__text на всю сладкую выпечку <br> скидка 50%
                                        a.discounts-club__more(href="#") подробнее
                        a.discounts__kink(href="#")
                            img(src="img/arrow-link.svg", alt="")
                .delivery
                    .delivery__title Доставка
                    a.delivery__btn(href="delivery.html") заказать
                .contacts#map
                    .title
                        h3 Мы всегда рядом
                        .subtitle всегда на связи
                    .contacts__map 
                .phone
                    p.phone__text Единый номер:
                    a.phone__number(href="tel:+78126701555") 8 (812) 670-15-55
                footer.footer
                    .addresses
                        .addresses__item
                            ul.addresses-list
                                li.addresses-list__item.addresses-list__item--orange
                                    a(href="#") Ул. ворошилова 3
                                li.addresses-list__item.addresses-list__item--orange
                                    a(href="#") пр. коммуны 63
                                li.addresses-list__item.addresses-list__item--orange
                                    a(href="#") Кудрово, ул.Пражская 16
                        .addresses__item
                            ul.addresses-list
                                li.addresses-list__item.addresses-list__item--blue
                                    a(href="#") Выборгское шоссе 15
                                li.addresses-list__item.addresses-list__item--blue
                                    a(href="#") Учебный переулок 3а
                                li.addresses-list__item.addresses-list__item--blue
                                    a(href="#") Типанова 27/39
                                li.addresses-list__item.addresses-list__item--blue
                                    a(href="#") Суздальский 7
                                li.addresses-list__item.addresses-list__item--blue
                                    a(href="#") Светлановский 48 к4
                        .addresses__item
                            ul.addresses-list
                                li.addresses-list__item.addresses-list__item--green
                                    a(href="#") 9-я линия В.О. д 16
                                li.addresses-list__item.addresses-list__item--red
                                    a(href="#") Пр. Просвещения 74\2
                                li.addresses-list__item.addresses-list__item--red
                                    a(href="#") Пр.Науки 23
                    .download 
                        a.download__apple(href="") 
                            img(src="img/apple.svg", alt="")
                        a.download__android(href="") 
                            img(src="img/google.svg", alt="")
                    .footer__bottom
                        a.footer__doc(href="#") Юридические документы
                        ul.social-list
                            li.social-list__item 
                                a(href="#")
                                    img(src="img/social/instagram.svg", alt="инстаграм")
                            li.social-list__item 
                                a(href="#")
                                    img(src="img/social/vk.svg", alt="ВК")
                            li.social-list__item 
                                a(href="#")
                                    img(src="img/social/email.svg", alt="Почта")
                        .phone.phone--footer
                            p.phone__text.phone__text--footer Единый номер:
                            a.phone__number.phone__number--footer(href="tel:+78126701555") 8 (812) 670-15-55
                    .copyright 2022
    script(src="https://unpkg.com/swiper@8/swiper-bundle.min.js")
    script(src="js/main.js")